/* Footer */

.footer {
    margin-top: auto;
    padding: 60px 0 50px;

    color: var(--footer-text);
    background-color: var(--footer-bg);
}

.footer__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 27px;
}

.social {
    display: flex;
    column-gap: 30px;

    align-items: center;
}

.copyright {
    font-size: 16px;
}

.copyright p + p {
    margin-top: 0.5em;
}

@media (width <= 620px) {
    /* Footer */

    .footer {
        padding: 40px 0 30px;
    }

    .footer__wrapper {
        row-gap: 20px;
    }

    /* Social */

    .social {
        column-gap: 20px;
    }

    .social__item {
        width: 28px;
    }
}
